body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.react-datepicker-wrapper input {
  margin:1px;
  padding:3px 5px;
  width:110px;
  height:28px;
  font-size:14px;
  line-height:28px;
  vertical-align:middle;
  border:1px solid #d5d5d5;
  box-sizing:border-box;
}